/*
!/.gitignore
!/*.py
!/*ipynb
!/*.md
!/*.yml
!/*.toml
!/deprecated/*.py
!/deprecated/*.ipynb
!/deprecated
!/misc
!/misc/*.py
!/tests
!/tests/*.py
!/tests/__init__.py
!/plotting
!/plotting/*.py
!plotting/__pycache__/
